/* global */
:root {
  --dark-purple: #564c89;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 93.75%;
}

body {
  background: #f0f2f5;
  font-family: "Poppins", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-purple);
  font-weight: 400;
}

small {
  color: var(--dark-purple);
}
/* header */
header {
  background: #564c89;
  padding: 2rem 0 5.575rem;
  text-align: center;
}

#logo {
  width: 14rem;
  margin-bottom: 1.5rem;
}

/* balance */
#balance {
  margin-top: -5rem;
}

#balance h2 {
  color: #d6d1ff;
  margin-top: 0;
}

/* card */
.card {
  background: #d6d1ff;
  padding: 1rem 2rem;
  border-radius: 0.3125rem;
  margin-bottom: 2rem;
  color: var(--dark-purple);
}

.card h3 {
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
}

.card.total {
  background: #49aa26;
  color: #fff;
}

/* buttons */
button {
  width: 100%;
  height: 50px;
  border: none;
  background: #9994ff;
  color: #d6d1ff;
  padding: 0;
  cursor: pointer;
  border-radius: 0.3125rem;
  transition: 0.6s;
}

button:hover {
  background: #564c89;
}

.button.new {
  display: inline-block;
  color: #9994ff;
  margin-bottom: 0.8rem;
  transition: 0.6s;
}

.button.new:hover {
  color: #d6d1ff;
}

.button.cancel {
  color: var(--dark-purple);
  border: 2px var(--dark-purple) solid;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
  border-radius: 0.3125rem;
  opacity: 0.6;
}

.button.cancel:hover {
  opacity: 1;
}

/* table */
#transaction {
  display: block;
  width: 100%;
  overflow-x: auto;
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: var(--dark-purple);
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 0.3125rem 0 0 0.3125rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0 0.3125rem 0.3125rem 0;
}

table th {
  background: #d6d1ff;
  font-weight: 400;
  padding: 1rem 2rem;
  text-align: left;
}

table tbody tr {
  border-radius: 0.3125rem;
  opacity: 0.7;
  transition: 0.6s;
}

table tbody tr:hover {
  opacity: 1;
}

table td {
  background: #d6d1ff;
  padding: 1rem 2rem;
}

table td img {
  cursor: pointer;
}

table .description {
  color: var(--dark-purple);
}

table .income {
  color: #12a454;
}

table .expense {
  color: #e92929;
}

/* modal */
.modal-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background: #d6d1ff;
  padding: 2.5rem;
  border-radius: 0.3125rem;
}

/* form */
#form {
  max-width: 500px;
}

#form h2 {
  margin-top: 0;
}

input {
  border: none;
  border-radius: 0.3125rem;
  padding: 0.8rem;
  width: 100%;
}

input::placeholder,
input#date {
  color: var(--dark-purple);
}

.input-group {
  margin-top: 0.8rem;
}

.input-group small {
  opacity: 0.5;
}

.input-group.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-group.actions .button,
.input-group.actions button {
  width: 48%;
}

/* footer */
footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-purple);
}

footer p a {
  color: #9994ff;

  transition: 0.6s;
}

footer p a:hover {
  color: #d6d1ff;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #d6d1ff; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #9994ff; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid #d6d1ff; /* creates padding around scroll thumb*/
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #d6d1ff;
}

/* reponsive */
@media (min-width: 800px) {
  html {
    font-size: 83.75%;
  }

  #logo {
    width: 18rem;
  }

  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
